SOAPClient/xml-resources/web-service-references/RiverDatabaseService/wsdl/localhost_8080/SOAP_253_CW/RiverDatabaseService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://main/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://main/" name="RiverDatabaseService">
<types>
<xsd:schema>
<xsd:import namespace="http://main/" schemaLocation="http://localhost:8080/SOAP_253_CW/RiverDatabaseService?xsd=1"/>
</xsd:schema>
</types>
<message name="addRiver">
<part name="parameters" element="tns:addRiver"/>
</message>
<message name="addRiverResponse">
<part name="parameters" element="tns:addRiverResponse"/>
</message>
<message name="makeTeibutary">
<part name="parameters" element="tns:makeTeibutary"/>
</message>
<message name="makeTeibutaryResponse">
<part name="parameters" element="tns:makeTeibutaryResponse"/>
</message>
<message name="getRivers">
<part name="parameters" element="tns:getRivers"/>
</message>
<message name="getRiversResponse">
<part name="parameters" element="tns:getRiversResponse"/>
</message>
<message name="updateLength">
<part name="parameters" element="tns:updateLength"/>
</message>
<message name="updateLengthResponse">
<part name="parameters" element="tns:updateLengthResponse"/>
</message>
<message name="deleteRiver">
<part name="parameters" element="tns:deleteRiver"/>
</message>
<message name="deleteRiverResponse">
<part name="parameters" element="tns:deleteRiverResponse"/>
</message>
<message name="checkIfRiverExists">
<part name="parameters" element="tns:checkIfRiverExists"/>
</message>
<message name="checkIfRiverExistsResponse">
<part name="parameters" element="tns:checkIfRiverExistsResponse"/>
</message>
<message name="getAllRivers">
<part name="parameters" element="tns:getAllRivers"/>
</message>
<message name="getAllRiversResponse">
<part name="parameters" element="tns:getAllRiversResponse"/>
</message>
<portType name="RiverDatabase">
<operation name="addRiver">
<input wsam:Action="http://main/RiverDatabase/addRiverRequest" message="tns:addRiver"/>
<output wsam:Action="http://main/RiverDatabase/addRiverResponse" message="tns:addRiverResponse"/>
</operation>
<operation name="makeTeibutary">
<input wsam:Action="http://main/RiverDatabase/makeTeibutaryRequest" message="tns:makeTeibutary"/>
<output wsam:Action="http://main/RiverDatabase/makeTeibutaryResponse" message="tns:makeTeibutaryResponse"/>
</operation>
<operation name="getRivers">
<input wsam:Action="http://main/RiverDatabase/getRiversRequest" message="tns:getRivers"/>
<output wsam:Action="http://main/RiverDatabase/getRiversResponse" message="tns:getRiversResponse"/>
</operation>
<operation name="updateLength">
<input wsam:Action="http://main/RiverDatabase/updateLengthRequest" message="tns:updateLength"/>
<output wsam:Action="http://main/RiverDatabase/updateLengthResponse" message="tns:updateLengthResponse"/>
</operation>
<operation name="deleteRiver">
<input wsam:Action="http://main/RiverDatabase/deleteRiverRequest" message="tns:deleteRiver"/>
<output wsam:Action="http://main/RiverDatabase/deleteRiverResponse" message="tns:deleteRiverResponse"/>
</operation>
<operation name="checkIfRiverExists">
<input wsam:Action="http://main/RiverDatabase/checkIfRiverExistsRequest" message="tns:checkIfRiverExists"/>
<output wsam:Action="http://main/RiverDatabase/checkIfRiverExistsResponse" message="tns:checkIfRiverExistsResponse"/>
</operation>
<operation name="getAllRivers">
<input wsam:Action="http://main/RiverDatabase/getAllRiversRequest" message="tns:getAllRivers"/>
<output wsam:Action="http://main/RiverDatabase/getAllRiversResponse" message="tns:getAllRiversResponse"/>
</operation>
</portType>
<binding name="RiverDatabasePortBinding" type="tns:RiverDatabase">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addRiver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeTeibutary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRivers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateLength">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteRiver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkIfRiverExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllRivers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RiverDatabaseService">
<port name="RiverDatabasePort" binding="tns:RiverDatabasePortBinding">
<soap:address location="http://localhost:8080/SOAP_253_CW/RiverDatabaseService"/>
</port>
</service>
</definitions>